# composer vendor dir
/vendor/

# user uploaded files
/web/uploads/
/web/assets/

/runtime/

# dotenv files
.env

# phpstorm / netbeans / vscode
.idea/
.nbproject/
.vscode/

# OS files
.DS_Store
Thumbs.db

# log files
*.log
